@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(43deg, rgb(52, 93, 225) 20%, rgb(76, 235, 156) 100%);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #345de1;
}